.header-container{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}
.accordion-wrapper{
    border-top: 1px rgba(0,0,0,.1) solid;
}

.accordion-body{
    transition: all .5s cubic-bezier(0,1,0,1);
    max-height: 0;
    overflow: hidden;
}

.show{
    transition: all .5s cubic-bezier(0,1,0,1);
    max-height: 1000px;
    height: 100%;
}

.accordion-btn{
    outline: none;
    color: #5368df;
    width: 2rem;
    font-size: 1.2rem;
}