.button-wrapper{
    display: flex;
    border-bottom: 1px solid #ccc;
}

  
.right #tab-button:hover {
        background-color:transparent;
        border: 2px solid ;
        color:#5368df;
        transition: all 0.3s ease-in-out;
    }


.button-wrapper button:hover {
    background-color:transparent;
    color: #fa5757 ;
    font-weight:700;
    transition: all .5s ease-in-out;
}

#illus-bg{
    content: '';
    background-color:#5368df ;
    position: absolute;
    top: 10rem;
    right: 8rem;
    width: 100%;
    height: 80%;
    z-index: -900;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
}


.content{
    position: absolute;
    transform: translateX(150%);
    transition: 0.3s ease-in-out;
    margin-bottom:2rem;
    
}

.btn{
    font-size: 1rem;
}

.btn-active{
    border-bottom: 2.5px solid #fa5757;
}

.show-content{
    transform: translateX(0);
}


@media  (max-width:540px){
    /* #illu-bg{
        
        top: 5rem;
        left: 10rem;
        width: 100%;
        height: 70%;
        z-index: -900;
        border-top-left-radius: 20rem;
        border-bottom-left-radius: 20rem;
    } */
    #illus-bg{
        content: '';
        background-color:#5368df ;
        position: absolute;
        top: 3rem;
        right: 5rem;
        width: 100%;
        height: 80%;
        z-index: -900;
        border-top-right-radius: 20rem;
        border-bottom-right-radius: 20rem;
    }
    

}

@media  (max-width:360px){
    #illu-bg{
        
        top: 3rem;
        left: 3rem;
        width: 100%;
        height: 80%;
        z-index: -900;
        border-top-left-radius: 20rem;
        border-bottom-left-radius: 20rem;
    }
}

@media (max-width:360px){
    #simple-btn, #speedy-btn{
        border-bottom: .3px solid #ccc;
    }

  
}